/*Styles de la page A Propos*/

.div-about{
    display: flex;
    flex-direction: column;
    align-items: center ;    
    width: 100%;
    margin: auto;
    .div-img{
        width: 100%;
        .about-img{
            height: 223px;
            width: 100%;        
            object-fit: cover;
            border-radius: 25px;
            margin-top: 26px;
            margin-bottom: 38px;        
        }
    }    
    
}
 //Partie responsive//

 @media (max-width: 1000px) {    
    .div-about{
        
        //margin: auto;
        //padding-right: 50% ;
        //margin-right: 50%;
        
    }
}

