.div-about{
    display: flex;
    justify-content: center;
    .about-img{
        height: 223px;
        width: 1240px;
        object-fit: cover;
        border-radius: 25px;
        margin-top: 26px;
        margin-bottom: 38px;        
    }

}
