/*Styles du placement des cards appartements sur la page d'accueil*/
@import '../styles/Variables';

.section-card {		
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;	
	justify-content: center;
    width: 86.1%;    
    margin: 3.5% auto 4% auto;
    padding: 3.9% 0 3.5% 0;
    row-gap: 50px;    
    column-gap: 60px;
    background: $primary-grey-background-color;
    border-radius: 25px ;
    .card{
        width: 27.5%;    
    }       
    a{
        text-decoration: none;        
    }    
}

//Partie Responsive//

@media(max-width: 1000px){
    .section-card{
            width: 92%;
            margin-top: 0;
        .card{
            width: 100%;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }   
}

@media(max-width: 768px){
    .section-card{
            width: 92%;
        .card{
            width: 100%;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }   
}

