/*Style des photos et titres des appartements de la page d'accueil*/

@import '../styles/Variables.scss';

.li-card{ 
    background-size: cover;
    object-fit: cover;
    height: 340px;
    width: 340px;    
        
    border-radius: 10px;
    display: flex;
    align-items: end;      
    h2{
        color: $primary-white-color;
        text-shadow: 1px 1px 1px grey;
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 500;
        line-height: 142.6%;        
        margin: auto 20px 20px 20px;
        width: 70%;              
    }
}
.div-img{
    display: flex;
}

//Partie Responsive//
@media (max-width: 1000px) {
           
    .li-card{
        //height: 375px;
        //width: 375px;
        
    }
}





