/*Style des photos et titres des appartements de la page d'accueil*/

@import '../styles/Variables.scss';


.div-img{
     width: 100%;
     height: 340px;
            
    .img{    
    object-fit: cover;           
    border-radius: 10px;
    width: 100%;
          
    }
    h2{
        color: $primary-white-color;
        text-shadow: 1px 1px 1px grey;
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 500;
        line-height: 142.6%;        
        margin: auto 20px 20px 20px;
        width: 70%;              
    }
}

//Partie Responsive//





