/*Styles du carousel de la page details des appartements*/

@import '../styles/Variables';

.carousel-div{
    margin-top: 21px;
    width: 86.1%;
    .image-container{
       display: flex;
       align-items: center;
       position: relative;
       width: 100%;                                
       .previous-button{
            font-size: 79px;
            width: 46px;
            color:$primary-white-color ;
            position: absolute;
            border: none;            
            background: transparent;
            left: 2.5%;
            cursor: pointer;
            padding: 0;
            margin: 0;
       }
       .active{
          visibility: hidden;
       }
       .next-button{
            font-size: 79px;
            width: 46px;
            color: $primary-white-color;
            position: absolute;  
            
            right: 2.5%;
            border: none;
            background: transparent;
            cursor: pointer;
            padding: 0;
            margin: 0;            
       }
       .carousel-img{
            height: 415px;
            width: 100%;
            border-radius: 25px;          
            object-fit: cover;                                            
        }
        p{
          position: absolute;
          width: 100%;
          bottom: 2%;
          color: $primary-white-color;
          text-shadow: 1px 1px 1px grey;          
          text-align: center;
          font-family: Montserrat;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;          
        }   
    }      
}

 //Partie responsive//
 
@media(max-width: 1000px){
   .carousel-div{
      .image-container{
         .next-button{
            right: 3%;            
         }
      }   
   }
}

@media(max-width: 768px) {
     .carousel-div{
          width: 100%;
          margin: 0 15% 0 15%;
          .image-container {
              .carousel-img {
                  height: 255px;
              }              
          }
     }
}