/*Styles du caroussel de la page details des appartements*/

@import '../styles/Variables';

.carousel-div{
    margin-top: 21px;
    .image-container{
       display: flex;
       align-items: center;
       position: relative;
       .previous-button{
            font-size: 79px;
            width: 46px;
            color:$primary-white-color ;
            position: absolute;
            border: none;            
            background: transparent;
            margin-left: 1%;
            cursor: pointer;
       }
       .next-button{
            font-size: 79px;
            width: 46px;
            color: $primary-white-color;
            position: absolute;            
            margin-left: 94%;
            border: none;
            background: transparent;
            cursor: pointer;
       }
       .carousel-img{
            height: 415px;
            width: 1240px;
            border-radius: 25px;          
            object-fit: cover;                    
        }   
    }      
}

