.li-cart{
    
    .kasa-item-cover {
        height: 340px;
        width: 340px;
        border-radius: 10px;
        object-fit: cover;
    }
    h1{
        color: #40632f;
        font-size: 18px;
        font-family: Montserrat;
        font-weight: 500;
        line-height: 142.6%;
        width: 300px;
        height: 52px;
    }
}



