.li-cart{
    border: 1px solid black;
    width: 1140px;
    margin: 99px auto auto auto;
    .kasa-item-cover {
        height: 250px;
        width: 250px;
        border-radius: 20px;
        object-fit: cover;
    }
    h1{
        color: #40632f;
        font-size: 18px;
        font-family: Montserrat;
        font-weight: 500;
        line-height: 142.6%;
    }
}



