@import './variables';
.dropdown {
      position: relative;
}

.chevron {
      position: absolute;
      font-size: 24px;
      top: 15px;
      right: 30px;
      color: white;
      transform: rotate(-90deg);
      transition: all 0.5s ease-in-out;
}

.active .chevron {
      transform: rotate(-270deg);
}

.dropdown-content {
      z-index: -1;
      margin: 0 auto;
      width: 100%;
      background-color: $primary-background-color;
      color: $primary-color;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      transition: all 0.5s ease, opacity 0.8s;
      opacity: 0;
      visibility: hidden;

      overflow: hidden;
      height: 0;
      transform: translateY(-5px);
}
.dropdown-content.open {
      visibility: visible;
      transform: translateY(0px);
      opacity: 1;
      height: auto;
      z-index: -1;
}

.dropdown-btn {
      width: 100%;
      height: 52px;
      margin: 0 auto;
      display: block;
      background-color: $primary-color;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      z-index: 1;
      color: #fff;
      font-weight: 500;
      font-size: 24px;
      text-align: left;
      padding-left: 10px;
}

.dropdown-content p {
      padding: 15px;
      margin: 0;
      transition: all 0.5s ease;
      opacity: 0;
      // transform: translateY(-5px);
      overflow: hidden;
}
.dropdown-content.open p {
      transform: translateY(0px);
      opacity: 1;
}

.about-page-width {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 20px;
}

.apartement-details-page-width {
      width: 45%;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
}
.apartement-details-page-width li {
      list-style: none;
}
.apartement-details-page-width ul {
      padding: 15px;
}

@media (max-width: $breakpoint-tablet) {
      .apartement-details-page-width {
            width: 100%;
            margin-bottom: 30px;
      }
}




/*
.collapse-div{  
   //width: 1023px;  
   margin: 0px 23% 30px 23%;   
   display: flex;
   flex-direction: column;
   justify-content: center;
   background: var(--gray, #F6F6F6);
   border-radius: 10px;          
    .open-collapse-button{
        background: #FF6060;
        color: #FFFFFF ;
        border: none;
        font-size: 24px;
        font-family: Montserrat;
        font-weight: 500;        
        border-radius: 5px;
        line-height: 182.6%;
        display: flex;
        justify-content: space-between;
        padding: 5px 20px 5px 20px;
    }
    .collapse-text{
        padding: 0px 20px 3px 20px; 
    }
    .close-collapse-button{
        background: #FF6060;
        border: none;
        color: #FFFFFF;
        font-size: 24px;
        font-family: Montserrat;
        font-weight: 500;    
        border-radius: 5px;
        line-height: 182.6%;
        display: flex;
        justify-content: space-between;
        padding: 5px 20px 5px 20px;        
    }
    .logo-chevron{
        margin-top: 9px;
        border: 1px solid black;    
    }    
}


*/
  