/*Styles des menus déroulants de la page A Propos et sur la page details*/
@import '../styles/Variables';

@keyframes slidein {
    from {
      opacity: 0;
      visibility: hidden;      
      margin-top: -5%;                  
    }  
    to {
        opacity: 1;
        visibility: visible;        
        margin-top: 0%;                        
    }
  }
.collapse-div{ 
   width: 82%;  
   margin-bottom: 30px;
   display: flex;
   flex-direction: column;    
   background: var(--gray, $primary-grey-background-color);
   border-radius: 15px;   
    .open-collapse-button{
        background: $primary-red-color;
        color: $primary-white-color;
        border: none;
        font-size: 24px;
        font-family: Montserrat;
        font-weight: 500;        
        border-radius: 10px;
        line-height: 182.6%;
        display: flex;
        justify-content: space-between;
        padding: 5px 20px 5px 20px;
        cursor: pointer;
    }
    .collapse-text{
        padding: 25px 20px 25px 20px;        
        animation-duration: 0.3s;        
        animation-name: slidein;
        color: $primary-red-color;    
        font-size: 18px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%;
        list-style-type: none;                
    }ul{        
        margin-top: 0%;
    }
    .close-collapse-button{
        background: $primary-red-color;
        border: none;
        color: $primary-white-color;
        font-size: 24px;
        font-family: Montserrat;
        font-weight: 500;    
        border-radius: 10px;
        line-height: 182.6%;
        display: flex;
        justify-content: space-between;
        padding: 5px 20px 5px 20px;
        cursor: pointer;                
    }
    .chevron-logo{
        margin-top: 9px;        
        transform: rotate(-90deg);
        transition: all 0.5s ease-in-out ;    
    }
    .chevron-logo.active {
        transform: rotate(-270deg);
    }     
}
//Partie responsive//
@media (max-width: 1000px) { 
    .collapse-div{
        width: 100%;
        .open-collapse-button{
            width: 100%;            
        }
        .close-collapse-button{
            width: 100%;            
        }
    }
    
}




  

