@keyframes slidein {
    from {
      opacity: 0;
      visibility: hidden;      
      height: auto;                  
    }  
    to {
        opacity: 1;
        visibility: visible;       
        height: auto;                        
    }
  }
.collapse-text{
    padding: 0 20px 3px 20px;
    animation-duration: 1.5s;
    animation-name: slidein;
    color: #FF6060;    
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;        
}