/*Styles de la page Error*/

@import '../styles/Variables';

.div-error{    
    color: $primary-red-color;    
    display: flex;
    flex-direction: column;
    align-items: center; 
    //margin: 0;
    //width: 100%;       
    h1{
        font-size: 288px;
        //font-size: 39vmin;
        font-family: Montserrat;
        font-weight: 700;        
        margin: 5.4% 0 0 0;                
    }
    .text-error{
        color: $primary-red-color;
        font-size: 36px;
        //font-size: 5vmin;
        font-family: Montserrat;
        font-weight: 500;
        margin: 11.2% auto 11.2% auto;               
    }
    a{
        color: #FF6060;
        font-size: 18px;
        //font-size: 2.5vmin;
        font-family: Montserrat;
        font-weight: 500;
        text-decoration: none;        
        margin-bottom: 11.2%;                 
    }
}
@media screen and (max-width: 768px) {
    h1 {
      font-size: 96px; 
    }
    .text-error{
        font-size: 18px;
    }
    a{
        font-size: 14px ;
    }
  }

