/*Styles de la page Error*/

@import '../styles/Variables';

.div-error{    
    color: $primary-red-color;    
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0;       
    h1{
        font-size: 288px;
        font-family: Montserrat;
        font-weight: 700;        
        margin: 66px 0 0 0;                
    }
    .text-error{
        color: $primary-red-color;
        font-size: 36px;
        font-family: Montserrat;
        font-weight: 500;
        margin: 139px auto 139px auto;               
    }
    a{
        color: #FF6060;
        font-size: 18px;
        font-family: Montserrat;
        font-weight: 500;
        text-decoration: none;        
        margin-bottom: 139px;                 
    }
}