/*Styles du composant Footer*/

.footer-section{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 209px;
    width: auto;
    //width: 100%;    
        
    .footer-div{      
      text-align: center;
      margin-top: 53px;
                 
    }   
    .kasa-white-logo{
        width: 122px;
        height: 39.444px;
    }
    p{
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-family: Montserrat;
        font-weight: 500;
        line-height: 142.6%;
        margin-top: 28px;
    }
}

@media (max-width: 1000px) {
    .footer-section{
        width: 100%;
    }
}