@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf');
}


body {
  max-width: 1240px;
  margin: auto;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


