/*Styles du composant Rating*/

@import '../styles/Variables';

.icon-div{
    display: flex;
    justify-content: space-around;
    
    .icon{
        font-size: 25px;
        font-weight: bold;       
    }
}

//Partie responsive//
@media(max-width: 768px) {
    
    .icon-div{
        width: 140%;        
        .icon{
            font-size: 18px;
        }
    }
}

